html, body {
    margin: 0;
    min-width: 100%;
    position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#left-image {
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    width: 30%;
    position: absolute;
}

#x { 
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

#cardImages {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin-top: 6%;
}

#cardFrontImage {
    background-image: url('/images/bg-card-front.png');
    background-repeat: no-repeat;
    height: 17rem;
    width: 28rem;
    margin: 10vh 0 0 10vw;
}

#cardBackImage {
    background-repeat: no-repeat;
    background-image: url('./images/bg-card-back.png');
    height: 17rem;
    width: 28rem;
    margin: 0 0 0 15vw;
}

#cardFront {
    height: fit-content;
}
#a {
    z-index: 1;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    color: aliceblue;
}
#updatedName {
    display: inline;
    width: 50%;
}

#updatedExpiry {
    display: inline;
    width: 50%;
}

#updatedNumber {
    display: block;
    width: 100%;
}

#updatedCVC {
    margin-top: 25%;
    margin-left: 75%;
}

#inputSection {
    width: 100%;
    height: 100vh;
}

#inputForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    font-size: 1rem;
    margin: 4rem;
    padding: 2rem;
    margin-top: 12rem;
}

#inputForm button {
    height: fit-content;
    padding: 0.7rem;
    width: auto;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 2rem;
    background-color: rgb(85, 30, 136);
    color: aliceblue;
}

#inputForm div {
    width: 100%;
}

#cardDateAndCVC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-color: blueviolet;
}

#cardDate input {
    display: inline;
    width: 40%;
}

#cardDate label {
    display: block;
}

#cardCVC{
    margin-left: 1rem;
}

label {
    display: block;
}

.info {
    margin-top: 2.5rem;
    
}