html, body {
    margin: 0;
    min-width: 100%;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#left-image {
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    width: 30%;
    position: absolute;
}

#x { 
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

#cardImages {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 5%;
    width: 80%;
}

#cardFrontImage {
    background-image: url('/images/bg-card-front.png');
    background-repeat: no-repeat;
    color: aliceblue;
    height: 17rem;
    width: 28rem;
    margin: 10vh 0 0 10vw;
}

#cardBackImage {
    background-repeat: no-repeat;
    background-image: url('./images/bg-card-back.png');
    height: 17rem;
    width: 28rem;
    margin: 0 0 0 15vw;
}

#a {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    color: aliceblue;
}

#updatedName {  
    width: 50%;
    margin: 0 0 0 5%;
    height: min-content;
}

#updatedNumber {
    margin: 27% 0 0 5%;
    height: min-content;
    width: fit-content;
}

#updatedCVC {
    margin: 22% 0 0 80%;
}

#updatedDateTotal {
    display: flex;
    flex-direction: row;
    height: min-content;
    margin-left: 20%;
}

.updatedCardInfo {
    font-size: xx-large;
    width: fit-content;
    margin: 0;
}

#inputSection {
    width: 100%;
    height: 100vh;
}

#inputForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    font-size: 1rem;
    margin: 4rem;
    padding: 2rem;
    margin-top: 12rem;
}

#inputForm button {
    height: fit-content;
    padding: 0.7rem;
    width: auto;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 2rem;
    background-color: rgb(85, 30, 136);
    color: aliceblue;
}

#inputForm div {
    width: 100%;
}

#cardDateAndCVC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-color: blueviolet;
}

#cardDate input {
    display: inline;
    width: 40%;
}

#cardDate label {
    display: block;
}

#cardCVC{
    margin-left: 1rem;
}

label {
    display: block;
}

.info {
    margin-top: 2.5rem;
    
}

@media only screen and (max-width:1000px) {
    body, html {
        margin: 0;
       display: flex;
       flex-direction: column; 
       flex-wrap: wrap;
       position: absolute;
    }

    #left-image {
        width: 100%;
        min-height: 20vh;
    }

    #x { 
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 100%;
    }

    #inputSection {
        width: 100%;
        height: 50vh;
        margin: auto;
    }

    #inputForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width:auto;
        height: fit-content;
        font-size: 1rem;
        margin: auto;
        margin-top: 0;  
    }

    #cardImages {
        display: flex;
        flex-direction: row;
        min-height: 40vw;
        width: 100%;
        margin: 0 5% 0 5%
    }

    #cardFrontImage {
        position: relative;
        background-image: url('/images/bg-card-front.png');
        background-repeat:no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        height: 25vw;
        width: 45%;
        margin: 20% 0 0 10%;
        z-index: 1;
    } 

    #cardBackImage {
        position: absolute;
        background-repeat: no-repeat;
        background-image: url('./images/bg-card-back.png');
        background-size: contain;
        border-radius: 10px;
        height: 27vw;
        width: 45%;
        margin: 5% 0 0 30%;
    }

    #updatedCVC {
        position: relative;
        font-size: 3vw;
        float: right;
        margin-right: 13%;
    }

    .updatedCardInfo {
        margin: 0;
        width: fit-content;
    }

    #updatedName {  
        height: auto;
        font-size: 3vw;
    }
    
    #updatedNumber {
       
        height: auto;
        font-size: 3vw;
    }
    
    #updatedDateTotal {
        display: flex;
        flex-direction: row;
        height: min-content;
        width: fit-content;
    }

    #updatedExpiryMonth, #updatedExpiryYear, #monthYearDivide {
        font-size: 3vw;
    }




}